<!DOCTYPE html>
<html lang="pt-br" ng-app="treasyViewApp">
  <head>
    <meta charset="UTF-8">
    <title>treasyview</title>
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
  </head>
  <body ng-controller="mainController as mc">
    <div class="container">
      <h1 class="text-center">treasyview</h1>

      <div id="treeview">
        <div id="actions">
          <div class="left">
            <button ng-click="mc.treeviewItemCreate()"> New </button>
            <button ng-click="mc.treeviewItemEdit()"> Edit </button>
            <button ng-click="mc.treeviewItemDelete()"> Delete </button>
          </div>

          <div class="right">
            <div class="arrow-up-medium" ng-click="mc.treeviewItemCollapseAll()"> </div>
            <div class="arrow-down-medium" ng-click="mc.treeviewItemExpandAll()"> </div>
          </div>
        </div>

        <div id="filter">
            <input type="text" placeholder="Filter..." id="filter_text_field" ng-model="mc.search.title">
        </div>

        <div id="treeview-list">
          <ul ng-repeat="item in mc.withParentItems() | filter: mc.search">
            <li id={{item.id}} class="item">
              <span ng-repeat="space in item.parents">
                &nbsp;&nbsp;
              </span>

              <div class="{{item.collapsed ? 'arrow-up' : 'arrow-down'}}"></div>
              {{item.title}}
            </li>
          </ul>
        </div>

      </div>
    </div>

    <script src="js/lib/angular.min.js" charset="utf-8"> </script>
    <script src="js/app.js" charset="utf-8"> </script>
  </body>
</html>
