<!DOCTYPE html>
<html lang="pt-br" ng-app="treasyViewApp">
  <head>
    <meta charset="UTF-8">
    <title>treasyview</title>
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/lib/angular-ui-tree.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/lib/font-awesome/css/font-awesome.min.css">
  </head>

  <body ng-controller="mainController as mc">
    <div class="container">
      <div class="principal-title">
        <h1 class="text-center">
          treasyview
        </h1>
      </div>

      <div id="treeview">
        <div id="actions">
          <div class="left">
            <button class="new-item" ng-click="mc.treeviewItemCreate('new')"> New </button>
          </div>

          <div class="right">
            <i class="fa fa-lg fa-minus-square" ng-click="mc.collapseAll();"></i>
            <i class="fa fa-lg fa-plus-square" ng-click="mc.expandAll();"></i>
          </div>
        </div>

        <div id="filter">
            <input type="text" id="filter_text_field" ng-model="mc.query" placeholder="Filter...">
        </div>

        <div ui-tree data-nodrop-enabled="true" data-drag-enabled="false" id="treeview-list">
          <ol ui-tree-nodes="" ng-model="mc.items">
            <li ng-repeat="item in mc.items" ui-tree-node ng-include="'nodes_renderer.html'" ng-show="mc.visible(item)"></li>
          </ol>
        </div>
      </div>
    </div>

    <script type="text/ng-template" id="nodes_renderer.html">
      <div ui-tree-handle class="tree-node tree-node-content">
        <a class="collapse-expand" ng-if="item.nodes && item.nodes.length > 0" data-nodrag ng-click="toggle(this)">
          <i ng-class="{'fa fa-lg fa-minus-square': collapsed, 'fa fa-lg fa-plus-square': !collapsed }"> </i>
        </a>

        <span class="item-title-{{item.id}}" title="{{item.title}}"> {{item.title | limitTo: 20 }}{{item.title.length > 20 ? '...' : ''}}  </span>

        <div class="edit-item-form edit-item-{{item.id}} hidden" >
          <div class="background-fake"> </div>

          <div class="content">
            <h1> Edit Item </h1>

            <div class="form-group">
              <span class="item-title-{{item.id}}"> Title: </span>
              <input class="item-title-edit-{{item.id}}" type="text" ng-model="item.title"> </input>
            </div>

            <div class="form-group">
              <span class="item-description-{{item.id}}"> Description:  </span>
              <input class="item-description-edit-{{item.id}}" type="text" ng-model="item.description"> </input>
            </div>

            <div class="action-btns">
              <button class="confirm-edit-{{item.id}}" ng-click="mc.treeviewItemConfirmEdit(this)"> Save </button>
            </div>
          </div>
        </div>

        <div class="actions-item actions-item-{{item.id}}">
          <a title="New" class="btn green" data-nodrag ng-click="mc.treeviewItemCreate(this)">
            <i class="fa fa-plus fa-lg"> </i>
          </a>

          <a title="Edit" class="btn blue" data-nodrag ng-click="mc.treeviewItemEdit(this)">
            <i class="fa fa-pencil fa-lg"> </i>
          </a>

          <a title="Remove" class="btn red" data-nodrag ng-click="mc.treeviewItemDelete(this, remove)">
            <i class="fa fa-remove fa-lg"> </i>
          </a>
        </div>
      </div>

      <ol ui-tree-nodes="" ng-model="item.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="item in item.nodes" ui-tree-node ng-include="'nodes_renderer.html'" ng-show="mc.visible(item)">
        </li>
      </ol>
    </script>

    <script src="js/lib/angular.min.js" charset="utf-8"> </script>
    <script src="js/lib/angular-ui-tree.min.js" charset="utf-8"> </script>
    <script src="js/lib/jquery-3.2.1.min.js" charset="utf-8"> </script>
    <script src="js/lib/notify.min.js" charset="utf-8"> </script>
    <script src="js/app.js" charset="utf-8"> </script>
    <script src="js/configs/development.js" charset="utf-8"> </script>
  </body>
</html>
